<footer class="page__footer footer">
  <div class="footer__wrapper">
    <nav class="footer__nav">
      <ul class="footer__links">
        <r:links_param name="footer_links" link_class="footer__link"/>
      </ul>
      <r:widget:show name='social_icons'/>
    </nav>
    <div class="footer__copyright">
      <r:shop:copyright link_class="footer__link"/>
    </div>
  </div>
</footer>

<r:widget:show name='footer_scroll_up'/>