<img class="header__logo-image header__logo-image_desktop" src='/assets-images/logo.png' alt='<r:shop:name/>'>
<img class="header__logo-image header__logo-image_mobile" src='/assets-images/logo-mobile.png' style="display:none;" alt='<r:shop:name/>'>